.card {
  background: #42AB9E;
}

.card form {
  padding: 1rem;
}

.card label {
  display: block;
  font-weight: bold;
  color: white;
  margin-bottom: .5rem;
}

.card input, .card textarea {
  width: 100%;
  border: none;
  border-radius: .2rem;
  margin-bottom: 1.5rem;
  padding: .5rem;
}

.card button {
  width: 100%;
  background: #DF6C4F;
  color: white;
  text-transform: uppercase;
  padding: .5rem;
  border: .05rem solid white;
  border-radius: .5rem;
}